* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  margin: 0 auto;
}

@media screen and (max-width: 640px) {
  .container {
    width: 100%;
    margin: 0 auto;
  }
  header {
    display: flex;
    align-items: center;
  }

  header.container {
    margin-top: 40px;
  }

  header nav {
    font-size: 14px;
    width: 45%;
  }

  header nav a {
    /* text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #404041;
    padding-right: 44px; */
    display: none;
  }

  header div.logo {
    width: 10%;
    display: flex;
    justify-content: center;
  }

  header div.icon {
    /* width: 45%;
    display: flex;
    justify-content: end; */
    display: none;
  }
  main div article#hero .content {
    width: 100%;
  }
  main div article#hero .card {
    width: 100%;
  }
  main div article#hero {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  main div article#hero .content h1 {
    color: #222223;
    font-weight: 700;
    font-size: 26px;
    font-family: "Bai Jamjuree", sans-serif;
    line-height: 80px;
    text-align: center;
  }
  main div article#hero .content p.desc {
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 0.01em;
    font-family: "Roboto", sans-serif;
    color: #535354;
    margin-bottom: 30px;
    text-align: center;
  }
  main div article#hero .content div {
    display: none;
  }
  main div article#hero .card img {
    width: 350px;
  }

  main div article#hero div.card {
    display: flex;
    justify-content: center;
  }
  main div article#deals div.card {
    width: 100%;
    text-align: center;
  }
  section#service img {
    display: none;
  }

  section#service {
    height: 217px;
    background-color: #b9e2fa;
    margin-top: 52px;
    position: relative;
  }

  section#service main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    flex-direction: column;
  }

  section#service main div.card-container {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px;
  }
  section#customer {
    height: 250px;
    margin-top: 51px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  section#customer h1 {
    font-family: "Bai Jamjuree";
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 80px;
    text-align: center;
    letter-spacing: 0.01em;
    color: #0d1111;
    margin-bottom: 30px;
  }

  section#customer p {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    color: #767e7e;
    width: 341px;
  }

  .card-body img {
    width: 155px;
  }
  .card-title {
    font-family: "Bai Jamjuree";
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    text-align: center;
  }

  aside#profile {
    height: 300px;
    display: flex;
    justify-content: center;
  }
  div.footer-content {
    display: flex;
    align-items: center;
    height: 200px;
  }

  div.footer-content.container {
    margin-top: 40px;
  }

  div.footer-content nav {
    font-size: 14px;
    width: 45%;
  }

  div.footer-content nav a {
    /* text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #404041;
    padding-right: 44px; */
    display: none;
  }

  div.footer-content div.logo {
    width: 10%;
    display: flex;
    justify-content: center;
  }

  div.footer-content div.icon {
    /* width: 45%;
    display: flex;
    justify-content: end; */
    display: none;
  }

  div.footer-content div.border {
    border: 10px solid #565b58;
  }

  div.border {
    border: 1px solid #565b58;
    margin-bottom: 20px;
  }

  section#service main div.card-service h1 {
    font-family: "Bai Jamjuree";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 38px;
    color: #202020;
    margin-bottom: 16px;
  }

  section#service main div.card-service p {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 26px;
    letter-spacing: 0.02em;
    color: #5f5f64;
  }
  main div article#deals div.card h1 {
    font-weight: 700;
    font-size: 25px;
    line-height: 42px;
    color: #222223;
    font-family: "Bai Jamjuree", sans-serif;
  }
  main div article#deals div.card h2 {
    font-weight: 700;
    font-size: 23px;
    line-height: 40px;
    color: #222223;
    font-family: "Bai Jamjuree", sans-serif;
  }
  main div article#deals div.card p.desc {
    font-weight: 400;
    font-size: 14px;
    line-height: 38px;
    letter-spacing: 0.01em;
    font-family: "Roboto", sans-serif;
    color: #535354;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 640px) {
  .container {
    max-width: 640px;
  }
  header {
    display: flex;
    align-items: center;
  }

  header.container {
    margin-top: 40px;
  }

  header nav {
    font-size: 14px;
    width: 45%;
  }

  header nav a {
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #404041;
    padding-right: 44px;
  }

  header div.logo {
    width: 10%;
    display: flex;
    justify-content: center;
  }

  header div.icon {
    width: 45%;
    display: flex;
    justify-content: end;
  }

  main div article#hero {
    display: flex;
    align-items: center;
  }

  main div article#hero .content {
    width: 40%;
  }

  main div article#hero .content h1 {
    color: #222223;
    font-weight: 700;
    font-size: 40px;
    font-family: "Bai Jamjuree", sans-serif;
    margin-bottom: 10px;
    height: 70px;
    line-height: 40px;
  }

  main div article#hero .content p.desc {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.01em;
    font-family: "Roboto", sans-serif;
    color: #535354;
    margin-bottom: 30px;
    width: 240px;
  }

  main div article#hero .card {
    width: 60%;
  }

  main div article#hero .card img {
    object-fit: cover;
    width: 400px;
  }

  main div article#hero .content div {
    display: flex;
    align-items: center;
    height: 50px;
  }

  main div article#hero .content div p {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.01em;
    font-family: "Roboto", sans-serif;
    color: #222223;
    padding-left: 18px;
  }

  main div article#deals div.card {
    width: 50%;
  }

  main div article#deals {
    display: flex;
    flex-wrap: wrap;
  }

  main div article#deals div.card h1 {
    font-weight: 700;
    font-size: 35px;
    line-height: 42px;
    color: #222223;
    width: 221px;
    font-family: "Bai Jamjuree", sans-serif;
  }

  main div article#deals div.card p.desc {
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.01em;
    font-family: "Roboto", sans-serif;
    color: #535354;
    margin-bottom: 30px;
    width: 280px;
  }

  section#service {
    height: 417px;
    background-color: #b9e2fa;
    margin-top: 52px;
    position: relative;
  }

  section#service img {
    position: absolute;
    top: -30px;
    left: 50%;
  }

  section#service main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  section#service main div.card-container {
    width: 50%;
    display: flex;
    justify-content: center;
  }

  section#service main div.card-container div.card-service {
    width: 264px;
  }

  section#service main div.card-service h1 {
    font-family: "Bai Jamjuree";
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 38px;
    color: #202020;
    margin-bottom: 16px;
  }

  section#service main div.card-service p {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.02em;
    color: #5f5f64;
  }

  section#customer {
    height: 250px;
    margin-top: 151px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  section#customer h1 {
    font-family: "Bai Jamjuree";
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 80px;
    text-align: center;
    letter-spacing: 0.01em;
    color: #0d1111;
    margin-bottom: 30px;
  }

  section#customer p {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    color: #767e7e;
    width: 641px;
  }

  div.footer-content {
    display: flex;
    align-items: center;
    height: 200px;
  }

  div.footer-content.container {
    margin-top: 40px;
  }

  div.footer-content nav {
    font-size: 14px;
    width: 45%;
  }

  div.footer-content nav a {
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #404041;
    padding-right: 44px;
  }

  div.footer-content div.logo {
    width: 10%;
    display: flex;
    justify-content: center;
  }

  div.footer-content div.icon {
    width: 45%;
    display: flex;
    justify-content: end;
  }

  div.footer-content div.border {
    border: 10px solid #565b58;
  }

  div.border {
    border: 1px solid #565b58;
    margin-bottom: 20px;
  }

  aside#profile {
    height: 300px;
    display: flex;
    justify-content: center;
  }

  .card-profile {
    border-radius: 5px;
    height: 300px;
    width: 225px;
    overflow: hidden;
  }

  .card-body img {
    width: 225px;
  }

  .card-title {
    font-family: "Bai Jamjuree";
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    text-align: center;
  }
  main div article#hero div.card {
    display: flex;
    justify-content: center;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
  main div article#hero .card img {
    object-fit: cover;
    width: 100%;
  }
  main div article#hero .content h1 {
    color: #222223;
    font-weight: 700;
    font-size: 60px;
    font-family: "Bai Jamjuree", sans-serif;
    margin-bottom: 30px;
    height: 160px;
    line-height: 80px;
  }
  main div article#deals div.card {
    width: 25%;
  }

  main div article#deals {
    display: flex;
    flex-wrap: wrap;
  }
  main div article#deals div.card p.desc {
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.01em;
    font-family: "Roboto", sans-serif;
    color: #535354;
    margin-bottom: 30px;
    width: 240px;
  }
}

@media screen and (min-width: 1204px) {
  .container {
    max-width: 1204px;
  }
  main div article#hero .content h1 {
    color: #222223;
    font-weight: 700;
    font-size: 80px;
    font-family: "Bai Jamjuree", sans-serif;
    margin-bottom: 30px;
    height: 160px;
    line-height: 80px;
  }
  main div article#deals div.card p.desc {
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.01em;
    font-family: "Roboto", sans-serif;
    color: #535354;
    margin-bottom: 30px;
    width: 280px;
  }
}
